.sign-wrapper{
    width:60%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top:40px;

   .btn{
    background-color: #182547;
    cursor:none;
    border:none;

   }

   .btn:hover{
    background-color: #182547;
}
}
.paper{
   background-color:#e0e0e0;
   padding:40px 50px;
   border-radius:50%;
   border: 15px solid #5771f3; 
   cursor: pointer;
}
.paper-img{
    background-color:#e0e0e0;
    padding:40px 50px;
    border-radius:50%;
    border: 15px solid #5771f3; 
   
 }

.rock{
   background-color:#e0e0e0;
   padding:50px 55px;
   border-radius:50%;
   border: 15px solid #df405e; 
   cursor: pointer;
}
.rock-img{
    background-color:#e0e0e0;
    padding:50px 55px;
    border-radius:50%;
    border: 15px solid #df405e; 
 }

.scissors{
    background-color:#e0e0e0;
    padding:40px 50px;
    border-radius:50%;
    border: 15px solid #eca823; 
    cursor: pointer;
}
.scissors-img{
    background-color:#e0e0e0;
    padding:40px 50px;
    border-radius:50%;
    border: 15px solid #eca823; 
}

.play-again{
    display: flex;
    align-items: center;
    justify-content: center;
}